# Nivel básico: Carga de datos

Wendy Yasmin Soto Monzón

In [ ]:
#Importación de todas las librerias necesarias para realizar el proyecto
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as skl

In [ ]:
#Se carga el archivo csv y se guarda en una variable en este caso se llama df que quere decir dataframe
df=pd.read_csv('/content/OnlineRetail.csv', sep=';')
#Se muestran las primeras 10 filas del dataframe 
df.head(10)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
5,536365,22752,SET 7 BABUSHKA NESTING BOXES,2,12/1/2010 8:26,7.65,17850.0,United Kingdom
6,536365,21730,GLASS STAR FROSTED T-LIGHT HOLDER,6,12/1/2010 8:26,4.25,17850.0,United Kingdom
7,536366,22633,HAND WARMER UNION JACK,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
8,536366,22632,HAND WARMER RED POLKA DOT,6,12/1/2010 8:28,1.85,17850.0,United Kingdom
9,536367,84879,ASSORTED COLOUR BIRD ORNAMENT,32,12/1/2010 8:34,1.69,13047.0,United Kingdom

1. Al ejecutar tu análisis exploratorio, describe el número de columnas y filas que encuentras, en cuáles encuentras valores nulos o perdidos y cuántos.

In [ ]:
#Con lo siguiente muestro solamente el número de filas y columnas que hay en el dataframe
print('El número de filas es: ', df.shape[0])
print('El número de columnas es: ', df.shape[1])
#Se observa que cuenta con 541909 filas y 8 columnas

El número de filas es:  541909
El número de columnas es:  8

In [ ]:
#Con esta función busco en cuales son las columnas en las que se encuentran los valores nulos
df.isna().any()
#Se observa que se encuentran valores nulos en una columna llamada Dscription y en otra llamada CustomerID

InvoiceNo      False
StockCode      False
Description     True
Quantity       False
InvoiceDate    False
UnitPrice      False
CustomerID      True
Country        False
dtype: bool

In [ ]:
#Con la siguiente función busco y cuento la cantidad de valores nulos que se encuentran en el dataframe
df.isna().sum()
#En este caso se muestra la cantidad de valores nulos que hay en cada una de las columnas

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [ ]:
#Y con la siguiente función cuento las filas, las columnas y los valores nulos, ya que permite realizar un resumen del dataframe 
df.info()
#Se observa que cuenta con 541909 filas y 8 columnas

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 541909 entries, 0 to 541908
Data columns (total 8 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    541909 non-null  object
 1   StockCode    541909 non-null  object
 2   Description  540455 non-null  object
 3   Quantity     541909 non-null  int64
 4   InvoiceDate  541909 non-null  object
 5   UnitPrice    541909 non-null  float64
 6   CustomerID   406829 non-null  float64
 7   Country      541909 non-null  object
dtypes: float64(2), int64(1), object(5)
memory usage: 33.1+ MB

2. Para los valores perdidos numéricos:

> 2.1. Elimina todos los valores perdidos utilizando .dropna

In [ ]:
#Elimino los valores nulos con .dropna y le específico lo que debe eliminar
df.dropna(inplace=True)

In [ ]:
#Compruebo que se hayan eliminado los valores nulos
df.isna().sum()
# Y efectivamente los valores nulos fueron eliminados

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

> 2.2. Calcula la media, máximo, mínimo y desviaciónestándar de las columnas con valores numéricos.

In [ ]:
#Con la siguiente función calculó la media, el máximo, el valor mínimo y la desviación estándar de las columnas de valores numéricos
df.describe()
# También se puede calcular por separado cada uno de los valores y mostrar con un print lo que es cada uno, pero esto sería 
# muy laborioso así que en este caso considero que la función que utilice es la más adecuada

            Quantity      UnitPrice     CustomerID
count  406829.000000  406829.000000  406829.000000
mean       12.061303       3.460471   15287.690570
std       248.693370      69.315162    1713.600303
min    -80995.000000       0.000000   12346.000000
25%         2.000000       1.250000   13953.000000
50%         5.000000       1.950000   15152.000000
75%        12.000000       3.750000   16791.000000
max     80995.000000   38970.000000   18287.000000

> 2.3. Si encuentras un valor que no tenga lógica, es decir valores negativos en columnas donde no deberían haber, elimínalos.

In [ ]:
#Elimine los valores ilógicos que se muestran en la taba
df= df[df.Quantity >=0]
# Vuelvo a mostrar el cálculo la media, el máximo, el valor mínimo y la desviación estándar de las columnas de valores numéricos 
# para comprobar que se hayan eliminado los valores ilógicos.
df.describe()

            Quantity      UnitPrice     CustomerID
count  397924.000000  397924.000000  397924.000000
mean       13.021823       3.116174   15294.315171
std       180.420210      22.096788    1713.169877
min         1.000000       0.000000   12346.000000
25%         2.000000       1.250000   13969.000000
50%         6.000000       1.950000   15159.000000
75%        12.000000       3.750000   16795.000000
max     80995.000000    8142.750000   18287.000000

> 2.4. Calcula cuántos valores únicos encontraste dentro de cada columna después de limpiar los datos.

In [ ]:
# Este cálculo  se puede hacer de dos maneras.
# La más laboriosa sería calculando los valores únicos columna por columna y mostrando el resultado con un print
print('El valor unico de la columna InvoiceNo es: ', df['InvoiceNo'].nunique())
print('El valor unico de la columna StockCode es: ', df['StockCode'].nunique())
print('El valor unico de la columna Description es: ', df['Description'].nunique())
print('El valor unico de la columna Quantity es: ', df['Quantity'].nunique())
print('El valor unico de la columna InvoiceDate es: ', df['InvoiceDate'].nunique())
print('El valor unico de la columna UnitPrice es: ', df['UnitPrice'].nunique())
print('El valor unico de la columna CustomerID es: ', df['CustomerID'].nunique())
print('El valor unico de la columna Country es: ', df['Country'].nunique())

El valor unico de la columna InvoiceNo es:  18536
El valor unico de la columna StockCode es:  3665
El valor unico de la columna Description es:  3877
El valor unico de la columna Quantity es:  302
El valor unico de la columna InvoiceDate es:  17286
El valor unico de la columna UnitPrice es:  441
El valor unico de la columna CustomerID es:  4339
El valor unico de la columna Country es:  37

In [ ]:
# Y la más sencilla sería calculando los valores únicos de todo el dataframe en general
df.nunique()

InvoiceNo      18536
StockCode       3665
Description     3877
Quantity         302
InvoiceDate    17286
UnitPrice        441
CustomerID      4339
Country           37
dtype: int64